{% extends "base.html" %}
{% block content %}
  <form method="get" action="" class="form-inline">
    {{ search_form.as_p }}
    <input type="submit" value="Search" class="btn btn-secondary">
  </form>
  <div class="centered-heading">
    <h1>
      Actor List
      <a class="add" href="{% url 'movies:actor_create' %}">+</a>
    </h1>
  </div>
  {% if actor_list %}
    <ul class="item-list">
      {% for actor in actor_list %}
        <li class="item" onclick="window.location.href='{% url 'movies:actor_detail' pk=actor.id %}';">
          <div class="list-container">
            <img src="{{ actor.photo.url }}" alt="Actor Picture" class="list-photo">
          </div>
          <div class="text-container">
            <h4>{{ actor.first_name }} {{ actor.last_name }}</h4>
            <p>{{ actor.bio }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no actors found</p>
  {% endif %}
{% endblock %}
