{% extends "base.html" %}
{% block content %}
  <div class="centered-heading">
    <h1>Actor List</h1>
    <a href="{% url 'movies:actor_create' %}">Create</a>
  </div>
  {% if actor_list %}
      <ul class="item-list">
      {% for actor in actor_list %}
        <li class="item" onclick="window.location.href='{% url 'movies:actor_detail' pk=actor.id %}';">
          {{ actor.first_name }} {{ actor.last_name }}
          <br>
          {{ actor.bio }}
        </li>
      {% endfor %}    
      </ul>
  {% else %}
      <p>There are no actors found</p>
  {% endif %}
{% endblock %}