{% extends "base.html" %}
{% block content %}
  <div class="centered-heading">
    <h1>Actor List</h1>
    <a href="{% url 'movies:actor_create' %}" class="btn btn-primary mb-3">Create</a>
  </div>
  {% if actor_list %}
    <ul class="item-list">
      {% for actor in actor_list %}
        <li class="item" onclick="window.location.href='{% url 'movies:actor_detail' pk=actor.id %}';">
          <div class="list-container">
            <img src="{{ actor.photo.url }}" alt="Actor Picture" class="list-photo">
          </div>
          <div class="text-container">
            <h4>{{ actor.first_name }} {{ actor.last_name }}</h4>
            <p>{{ actor.bio }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no actors found</p>
  {% endif %}
{% endblock %}
