{% extends "base.html" %}
{% block content %}
  <div class="centered-heading">
    <h1>
      Directors List
      <a class="add" href="{% url 'movies:director_create' %}">+</a>
    </h1>
  </div>
  {% if director_list %}
      <ul class="item-list">
      {% for director in director_list %}
          <li class="item" onclick="window.location.href='{% url 'movies:director_detail' pk=director.id %}';">
            <div class="list-container">
              <img src="{{ director.photo.url }}" alt="Director Picture" class="list-photo">
            </div>
            <div class="text-container">
              <h4>{{ director.first_name }} {{ director.last_name }}</h4>
              <p>{{ director.bio }}</p>
            </div>
          </li>
      {% endfor %}
      </ul>
  {% else %}
      <p>There are no directors found</p>
  {% endif %}
{% endblock %}