{% extends "base.html" %}
{% block content %}
  <form method="get" action="" class="form-inline">
    {{ search_form.as_p }}
    <input type="submit" value="Search" class="btn btn-secondary">
  </form>
  <div class="centered-heading">
    <h1>
      Movies List
      <a class="add" href="{% url 'movies:movie_create' %}">+</a>
    </h1>
  </div>
  {% if movie_list %}
      <ul class="item-list">
      {% for movie in movie_list %}
        <li class="item" onclick="window.location.href='{% url 'movies:movie_detail' pk=movie.id %}';">
          <div class="list-container">
            <img src="{{ movie.poster.url }}" alt="Movie Poster Picture" class="list-photo">
          </div>
          <div class="text-container">
            <h4>{{ movie.title }}</h4>
            <p>{{ movie.description }}</p>
          </div>
        </li>
      {% endfor %}
      </ul>
  {% else %}
      <p>There are no movies found</p>
  {% endif %}
{% endblock %}