{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="centered-heading">
    <h1>
      Movies List
      <a class="add" href="{% url 'movies:movie_create' %}">+</a>
    </h1>
  </div>
  <form method="get" action="" class="form-container">
    <div class="nice-form-group">
      {{ search_form.title.label_tag }}
      {{ search_form.title }}
      <input type="submit" value="Search" class="search-button">
    </div>

    <!-- Hidden checkbox to toggle genre section -->
    <input type="checkbox" id="toggle-genre" class="toggle-checkbox" hidden>

    <!-- Labels for the checkbox to act as buttons -->
    <label for="toggle-genre" class="toggle-button show-genres">
      ▼ Show Genres
    </label>
    <label for="toggle-genre" class="toggle-button hide-genres">
      ▲ Hide Genres
    </label>

    <div class="genre-section">
      {{ search_form.genre.label_tag }}
      <div class="genre-options">
        {{ search_form.genre }}
      </div>
      <a href="{% url 'movies:movie_list' %}?title={{ search_form.initial.title }}" class="clear-button">
        Clear Genres
      </a>
    </div>
  </form>

  {% if movie_list %}
      <ul class="item-list">
      {% for movie in movie_list %}
        <li class="item" onclick="window.location.href='{% url "movies:movie_detail" pk=movie.id %}';">
          <div class="list-container">
            <img src="{{ movie.poster.url }}" alt="Movie Poster Picture" class="list-photo">
          </div>
          <div class="text-container">
            <h4>{{ movie.title }}</h4>
            <p>{{ movie.description }}</p>
            <span class="movie-rating">Rating: {{ movie.average_rating }} / 10</span>
          </div>
        </li>
      {% empty %}
        <p>There are no films</p>
      {% endfor %}
      </ul>
  {% else %}
      <p>There are no movies found</p>
  {% endif %}
{% endblock %}
