{% extends "base.html" %}
{% block content %}
  <div class="centered-heading">
    <h1>Movies List</h1>
    <a class="btn btn-primary mb-3" href="{% url 'movies:movie_create' %}">Create</a>
  </div>
  {% if movie_list %}
      <ul class="item-list">
      {% for movie in movie_list %}
          <li class="item" onclick="window.location.href='{% url 'movies:movie_detail' pk=movie.id %}';">
            <h4>{{ movie.title }}</h4>
            <br>
            {{ movie.description }}
          </li>
      {% endfor %}
      </ul>
  {% else %}
      <p>There are no movies found</p>
  {% endif %}
{% endblock %}