{% extends "base.html" %}
{% block content %}
  <div class="centered-heading">
    <h1>Welcome {{ user.username }}!</h1>
    <a href="">Edit</a>
    <h2>Info</h2>
  </div>
  <p>Name: {{ user.first_name }}</p>
  <p>Last name: {{ user.last_name }}</p>
  <p>Email: {{ user.email }}</p>
  <div class="centered-heading">
    <h1>Movies you like</h1>
  </div>
  <ul class="item-list">
    {% for movie in user.favourite_movies.all %}
        <li class="item" onclick="window.location.href='/movies/{{ movie.id }}';">
          <h4>{{ movie.title }}</h4>
          <br>
          {{ movie.description }}
        </li>
    {% empty %}
      <p>You don't have any favourite movies</p>
    {% endfor %}
  </ul>
{% endblock %}