<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'movies:home' %}">Home</a>
      <div class="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'movies:actor_list' %}">Actors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'movies:movie_list' %}">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'movies:directors_list' %}">Directors</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'movies:user_detail' pk=request.user.id %}">
                {{ request.user.get_username }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sign_up' %}">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
